* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  padding: 10px;
}

.transition div:nth-child(2) {
  width: 100px;
  height: 100px;
  background-color: #eddf26;
  border: 1px solid red;
  transition: width 1000ms linear 1s;
}

.transition div:nth-child(3) {
  width: 100px;
  height: 100px;
  background-color: #eddf26;
  border: 1px solid red;
  transition: width 1000ms ease 1s;
}

.transition div:nth-child(4) {
  width: 100px;
  height: 100px;
  background-color: #eddf26;
  border: 1px solid red;
  transition: width 1000ms ease-in 1s;
}

.transition div:nth-child(5) {
  width: 100px;
  height: 100px;
  background-color: #eddf26;
  border: 1px solid red;
  transition: width 1000ms ease-out 1s;
}

.transition div:nth-child(6) {
  width: 100px;
  height: 100px;
  background-color: #eddf26;
  border: 1px solid red;
  transition: width 1000ms ease-in-out 1s;
}

.transition div:nth-child(2):hover {
  width: 400px;
}

.transition div:nth-child(3):hover {
  width: 400px;
}

.transition div:nth-child(4):hover {
  width: 400px;
}

.transition div:nth-child(5):hover {
  width: 400px;
}

.transition div:nth-child(6):hover {
  width: 400px;
}
