* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.clear {
  clear: both;
}

li {
  list-style: none;
}

body {
  padding: 10px;
}

ul {
  padding: 20px;
  background-color: #b7db05;
  position: relative;
}

ul li {
  width: 200px;
  height: 200px;
  background-color: #e3e3e3;
  margin-right: 20px;
  text-align: center;
  float: left;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

.div1 {
  height: 50px;
  background-color: #1d98ff;
}

.div2 {
  width: 200px;
  height: 200px;
  background-color: #fc3e36;
  position: absolute;
  left: 700px;
  top: 40px;
}

.new {
  height: 50px;
  background-color: #1be751;
}

/*.section3 ul:after {
  content: "";
  display: block;
  clear: both;
}*/


.origin1 span {
  display: block;
  width: 250px;
  height: 120px;
  background-color: #78f182;
}

.float1 img{
  float: left;
}

.float1 span {
  display: block;
  width: 250px;
  height: 120px;
  background-color: #78f182;
}

.section2 li{
  list-style: none;
  float: left;
  padding: 20px;
  height: 20px;
  background-color: #1249c3;
  border-right: 1px solid #a0a2a2;
}

.section2 li a {
  color: #fff;
}
